@import './styles/App.scss';
@import './styles/Drumpad.scss';

html {
  font-size: 62.5%;
}

body {
  background-image: url(./images/background.jpg);
  background-size: cover;
  font-family: 'Merienda', cursive;
}

pre {
  display: none;
}
